<div class="flex h-full overflow-hidden">
  <div class="hidden lg:flex w-full md:w-7/12 overflow-y-scroll mb-2">
    <div class="grid grid-cols-2 grid-flow-row auto-rows-min">
      <div class="col-span-2">
        <img #mainImageRef src="{{ data.photo || defaultHouse  }}" class="p-2, {{!data.photo ? 'min-w-full min-h-full' : ''}}" (click)="showImage(mainImageRef)"  />
      </div>
      <div *ngFor="let photos of data.photos | slice: 1; let i = index">
        <img #imageRef src="{{ photos['href']}} " class="p-2 w-[275px] h-[187px] object-cover" (click)="showImage(imageRef)"/>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-1/2 pl-2 pr-2 sm:pr-0 sm:pl-4 overflow-y-scroll pt-2">

    <div class="flex justify-start sm:justify-end border-b-2 pr-4 sm:pr-0">
      <mat-icon class="visible lg:invisible mr-36 cursor-pointer text-2xl" (click)="closeDialog()">keyboard_arrow_left</mat-icon>
      <mat-icon class="invisible sm:visible text-xl">save_alt</mat-icon>
      <p (click)="onSaveOrDelete()" class="cursor-pointer text-lg hover:underline">{{!saved ? 'Save' : 'Saved'}}</p>
      <mat-icon class="invisible sm:visible text-xl sm:ml-3">share</mat-icon>
      <p (click)="onShare()" class="cursor-pointer text-lg hover:underline">Share</p>
    </div>
    <!-- image carousel goes here in the future -->
    <!-- image carousel goes here in the future -->
    <!-- image carousel goes here in the future -->
    <div class="lg:hidden pt-2">
      
      <div class="navigation-wrapper">
        <div class="keen-slider keen-slider--vertical" #sliderRef>
          <div *ngFor="let photos of data.photos; let i = index">
            <div class="keen-slider__slide"><img #imageRef src="{{ photos['href']  }}" class="p-2, {{!photos['href'] ? 'min-w-full ' : ''}}" (click)="showImage(imageRef)"  /></div>
          </div>
          
         
        </div>
        <svg
          [ngClass]="
            'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
          "
          (click)="slider.prev()"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
          />
        </svg>
        <svg
          *ngIf="slider"
          [ngClass]="
            'arrow arrow--right ' +
            (slider.track.details.slides.length - 1 === currentSlide
              ? 'arrow--disabled'
              : '')
          "
          (click)="slider.next()"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
        </svg>
      </div>

    </div>
    <!-- image carousel goes here in the future -->
    <!-- image carousel goes here in the future -->
    <!-- image carousel goes here in the future -->
    <div class="mt-4">
      <p class="text-3xl">${{ data.price | number }}</p>

      <p class="text-lg">
        <strong>{{ data.beds }}</strong> bed, <strong>{{ data.bath }}</strong> bath,
        <strong>{{ data.sqft }}</strong> sqft
      </p>
    </div>

    <div>
      <p>{{ data.address }}</p>
    </div>
    <div class="flex mt-6">
      <button
        type="button"
        class="w-1/2 h-12 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-white hover:text-blue-600 hover:outline hover:shadow-lg transition duration-150 ease-in-out">
        Request a Tour
      </button>
      <button
        type="button"
        class="ml-10 inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:bg-blue-600 hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
        Contact Agent
      </button>
    </div>

    <div class="border-2 mt-4 px-2 py-2">
      <div class="">
        <google-map height="30vh" width="99%" [options]="options" [center]="center" [zoom]="zoom">
          <map-marker [position]="markerPosition"> </map-marker>
        </google-map>
      </div>
    </div>

    <div class="border-2 border-t-0 px-4">
      <p class="pt-4 text-2xl font-bold">Overview</p>
      <p class="pb-4 text-base">{{ data.overview }}</p>
    </div>
    <div class="border-2 border-t-0 px-4 py-2">
      <p class="text-2xl font-bold pt-4">Price History</p>
      <table class="table-auto w-full">
        <thead>
          <tr class="text-left text-lg">
            <th>Date</th>
            <th>Event</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody *ngFor="let priceData of data.propertyHistory; let i = index">
          <tr class="border-t-[1px]">
            <td class="py-3">{{ priceData.date }}</td>
            <td>{{ priceData.event_name }}</td>
            <td>${{ priceData.price | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="border-2 border-t-0 px-4">
      <p class="pt-4 text-2xl font-bold">Monthly Cost</p>
      <div class="flex justify-center"><p class="text-base">Total Monthly Payment: </p><p class="pl-2 font-bold text-base">${{this.totalMonthlyPayment | number}}</p></div>

      <div class="flex justify-between mt-2">
        <p>Principal & Interest</p>
        <p class="pb-4 text-base font-bold">${{ data.mortgageInfo.principal_and_interest | number }}/month</p>
      </div>
      <div class="flex justify-between">
        <p>Mortgage Insurance</p>
        <p class="pb-4 text-base font-bold">${{ data.mortgageInfo.monthly_mortgage_insurance | number }}/month</p>
      </div>
      <div class="flex justify-between">
        <p>Property Taxes</p>
        <p class="pb-4 text-base font-bold">${{ data.mortgageInfo.monthly_property_taxes | number }}/month</p>
      </div>
      <div class="flex justify-between">
        <p>Home Insurance</p>
        <p class="pb-4 text-base font-bold">${{ data.mortgageInfo.monthly_home_insurance | number }}/month</p>
      </div>
      <div class="flex justify-between">
        <p>HOA Fees</p>
        <p class="pb-4 text-base font-bold">${{ data.mortgageInfo.hoa_fees | number }}/month</p>
      </div>
    </div>
    <div class="border-2 border-t-0 px-4 pb-4 mb-4">
      <p class="pt-4 text-2xl font-bold">Schools Nearby</p>
      <div *ngFor="let school of data.schools | slice:0:3; let i = index" class="flex">
       <p>{{school.education_levels[0] | titlecase }}:</p><p class="font-bold pl-1">{{school.name}}</p>
       <!-- <div class="circle">1</div> -->
      </div>
    </div>
  </div>
</div>
