<div class="relative">
    <div class="md:fixed w-full md:w-7/12 min-h-screen top-18 left-0">
        <div 
        class="grid col-span-2">
            <google-map height="93vh" width="99%" [center]="center" [zoom]="zoom" [options]="options" ></google-map>
          </div>
          
    </div>
    <div class="w-full md:w-5/12 ml-auto h-96">
        <div class="grid grid-cols-2 grid-flow-row auto-rows-min">
            <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
              <img
                src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
                class="rounded-t-xl" />
        
              <div class="ml-4">
                <mat-card-title class="mt-2">{{this.testPrice}}</mat-card-title>
                <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
                <mat-card-content>Address</mat-card-content>
              </div>
            </mat-card>
        
            <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
              <img
                src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
                class="rounded-t-xl" />
        
              <div class="ml-4">
                <mat-card-title class="mt-2">Price Here</mat-card-title>
                <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
                <mat-card-content>Address</mat-card-content>
              </div>
            </mat-card>
        
            <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
              <img
                src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
                class="rounded-t-xl" />
        
              <div class="ml-4">
                <mat-card-title class="mt-2">Price Here</mat-card-title>
                <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
                <mat-card-content>Address</mat-card-content>
              </div>
            </mat-card>
        
            <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
              <img
                src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
                class="rounded-t-xl" />
        
              <div class="ml-4">
                <mat-card-title class="mt-2">Price Here</mat-card-title>
                <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
                <mat-card-content>Address</mat-card-content>
              </div>
            </mat-card>
            <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
                <img
                  src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
                  class="rounded-t-xl" />
          
                <div class="ml-4">
                  <mat-card-title class="mt-2">Price Here</mat-card-title>
                  <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
                  <mat-card-content>Address</mat-card-content>
                </div>
              </mat-card>
              <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
                <img
                  src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
                  class="rounded-t-xl" />
          
                <div class="ml-4">
                  <mat-card-title class="mt-2">Price Here</mat-card-title>
                  <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
                  <mat-card-content>Address</mat-card-content>
                </div>
              </mat-card>
              <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
                <img
                  src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
                  class="rounded-t-xl" />
          
                <div class="ml-4">
                  <mat-card-title class="mt-2">Price Here</mat-card-title>
                  <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
                  <mat-card-content>Address</mat-card-content>
                </div>
              </mat-card>
          </div>
    </div>
  </div>
