
<div class="grid grid-cols-3 ">
  <div *ngIf="apiLoaded | async" class="grid col-span-2">
    <google-map height="86.5vh" width="100%" [zoom]="zoom" [center]="center" [options]="options"></google-map>
  </div>

  <div class="grid grid-cols-2 grid-flow-row auto-rows-min">
    <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
      <img
        src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
        class="rounded-t-xl" />

      <div class="ml-4">
        <mat-card-title class="mt-2">Price Here</mat-card-title>
        <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
        <mat-card-content>Address</mat-card-content>
      </div>
    </mat-card>

    <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
      <img
        src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
        class="rounded-t-xl" />

      <div class="ml-4">
        <mat-card-title class="mt-2">Price Here</mat-card-title>
        <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
        <mat-card-content>Address</mat-card-content>
      </div>
    </mat-card>

    <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
      <img
        src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
        class="rounded-t-xl" />

      <div class="ml-4">
        <mat-card-title class="mt-2">Price Here</mat-card-title>
        <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
        <mat-card-content>Address</mat-card-content>
      </div>
    </mat-card>

    <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
      <img
        src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
        class="rounded-t-xl" />

      <div class="ml-4">
        <mat-card-title class="mt-2">Price Here</mat-card-title>
        <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
        <mat-card-content>Address</mat-card-content>
      </div>
    </mat-card>
    <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
        <img
          src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
          class="rounded-t-xl" />
  
        <div class="ml-4">
          <mat-card-title class="mt-2">Price Here</mat-card-title>
          <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
          <mat-card-content>Address</mat-card-content>
        </div>
      </mat-card>
      <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
        <img
          src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
          class="rounded-t-xl" />
  
        <div class="ml-4">
          <mat-card-title class="mt-2">Price Here</mat-card-title>
          <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
          <mat-card-content>Address</mat-card-content>
        </div>
      </mat-card>
      <mat-card class="h-72 w-[95%] rounded-xl bg-black/[.05] ml-2 mt-2">
        <img
          src="https://photos.zillowstatic.com/fp/52b2c869e9a317cc16e64bcc96e258b8-cc_ft_384.webp"
          class="rounded-t-xl" />
  
        <div class="ml-4">
          <mat-card-title class="mt-2">Price Here</mat-card-title>
          <mat-card-subtitle class="mt-2 p-0">Beds, Bath, SqFt</mat-card-subtitle>
          <mat-card-content>Address</mat-card-content>
        </div>
      </mat-card>
  </div>

</div>
