<div class="flex justify-center mt-6 border-blue-600 pb-4">
<button class="focus:underline focus:decoration-blue-700 focus:text-blue-700 underline-offset-8  focus:cursor-pointer text-lg ml-2 mr-2" (click)="picker('savedHomes')" >Saved Homes</button>
<button class="focus:underline focus:decoration-blue-700 focus:text-blue-700 underline-offset-8  focus:cursor-pointer text-lg ml-2 mr-2" (click)="picker('savedSearches')">Saved Searches</button>
<button class="focus:underline focus:decoration-blue-700 focus:text-blue-700 underline-offset-8  focus:cursor-pointer text-lg ml-2 mr-2" (click)="picker('yourHome')">Your Home</button>
<button class="focus:underline focus:decoration-blue-700 focus:text-blue-700 underline-offset-8  focus:cursor-pointer text-lg ml-2 mr-2" (click)="picker('accountSettings')">Account Settings</button>
</div>
<div class="bg-gray-50 h-full pb-10">
<div *ngIf="content === 'savedHomes'">
  <starter-saved-homes></starter-saved-homes>
</div>
<div *ngIf="content === 'savedSearches'">
  <starter-saved-searches></starter-saved-searches>
</div>
<div *ngIf="content === 'yourHome'">
  <starter-your-home></starter-your-home>
</div>
<div *ngIf="content === 'accountSettings'">
  <starter-account-settings></starter-account-settings>
</div>
</div>


